@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <div class="main">
        
        @Body
        
    </div>
    </div>

@code
{
 [CascadingParameter]
 protected Task<AuthenticationState> AuthStat { get; set; }
   
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Console.WriteLine("1********");
        var user = (await AuthStat).User;
        Console.WriteLine("2********");
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"/Login");
        } 
    }
}