@page "/"

<AuthorizeView Policy=" ">
    <h1>Hello,  @context.User.Identity.Name!</h1>
    
    <h2>Welcome back.</h2>
    
    <img src="/StaticFolder/Img/john.jpg" asp-append-version="true" width="600px"/> 
</AuthorizeView>