@page "/RegisterFamily"
@using FamiliesPart2.Data
@using FamiliesPart2.Models
@inject IService<Family> _service
@inject NavigationManager _navigationManager

<h3>Register New Family</h3>

<EditForm Model="@_familyToAdd" OnValidSubmit="@AddNewFamilyAsync" OnInvalidSubmit="@HandleInvalidSubmit">
        <ValidationSummary/>
        <DataAnnotationsValidator/>
        <div class="col-sm-4">
            Family Id:<br/>
            <InputNumber @bind-Value="_familyToAdd.Id"/>
        </div>
        <br/>
        <div class="col-sm-7">
            <InputText id="StreetName" class="form-control" placeholder="StreetName"
                       @bind-Value="_familyToAdd.StreetName"/>
        </div>
        <br/>
        <div class="col-sm-4">
            House Number:<br/>
            <InputNumber @bind-Value="_familyToAdd.HouseNumber"/>
        </div>
        <br/>
        <div class="col-sm-7">
            <InputText id="FirstName" class="form-control" placeholder="FirstName"
                       @bind-Value="_adultToAdd.FirstName"/>
        </div>
        <br/>
        <div class="col-sm-7">
            <InputText id="LastName" class="form-control" placeholder="LastName"
                       @bind-Value="_adultToAdd.LastName"/>
        </div>
        <br/>
        <div class="col-sm-7">
            <InputText id="HairColor" class="form-control" placeholder="HairColor"
                       @bind-Value="_adultToAdd.HairColor"/>
        </div>
        <br/>
        <div class="col-sm-7">
            <InputText id="Sex" class="form-control" placeholder="Sex"
                       @bind-Value="_adultToAdd.Sex"/>
        </div>
        <br/>
        <div class="col-sm-7">
            <InputText id="ChildFirstName" class="form-control" placeholder="ChildFirstName"
                       @bind-Value="_childToAdd.FirstName"/>
        </div>
        <br/>
        <div class="col-sm-7">
            <InputText id="ChildLastName" class="form-control" placeholder="ChildLastName"
                       @bind-Value="_childToAdd.LastName"/>
        </div>
        <br/>
        <div class="col-sm-7">
            <InputText id="ChildSex" class="form-control" placeholder="ChildSex"
                       @bind-Value="_childToAdd.Sex"/>
        </div>
        <br/>
        <div class="col-sm-7">
            <InputText id="ChildInterest" class="form-control" placeholder="ChildInterest"
                       @bind-Value="_interestToAdd.Type"/>
        </div>
        <br/>
        <div class="col-sm-7">
            <InputText id="InterestDescription" class="form-control" placeholder="InterestDescription"
                       @bind-Value="_interestToAdd.Description"/>
        </div>
        <br/>
        <div class="col-sm-7">
            <InputText id="FamilyPet" class="form-control" placeholder="FamilyPet"
                       @bind-Value="_petToAdd.Species"/>
        </div>
        <br/>
        <div class="col-sm-7">
            <InputText id="PetName" class="form-control" placeholder="PetName"
                       @bind-Value="_petToAdd.Name"/>
        </div>
        <br/>
        <div class="col-sm-4">
                    Pet Age:<br/>
                    <InputNumber @bind-Value="_petToAdd.Age"/>
                </div>
                <br/>
        <p class="action">
            <button class="btn btn-outline-dark" type="submit">Create</button>
        </p>
        <br/>

        @if (_displayValidationErrorMessage)
        {
            <div class="col-md-4" style="margin-top:10px">
                <label>ERROR ERROR ERROR </label>
                <ValidationSummary/>
            </div>
        }
    </EditForm>
@if (displayFamilyAddedToDB)
    {
        <div class="row bg-success text-white" style="margin-top:10px; height:40px">
            <label class="p-2">Family added to database... </label>
        </div>
    }

@code {
    
    bool _displayValidationErrorMessage = false;
    bool displayFamilyAddedToDB = false; 
    
    private Family _familyToAdd = new Family();
    private Adult _adultToAdd = new Adult();
    private Child _childToAdd = new Child();
    private Pet _petToAdd = new Pet();
    private Interest _interestToAdd = new Interest();

    private async Task AddNewFamilyAsync()
    {
        _childToAdd.Interests = new List<Interest> {_interestToAdd};
        _familyToAdd.Adults = new List<Adult> {_adultToAdd};
        _familyToAdd.Children = new List<Child> {_childToAdd};
        _familyToAdd.Pets = new List<Pet> {_petToAdd};

        await _service.AddAsync(_familyToAdd);
        _navigationManager.NavigateTo("Families");

    }

    private void HandleInvalidSubmit(EditContext context)
    {
        _displayValidationErrorMessage = true;
        displayFamilyAddedToDB = false;
    }

}